.index-header {
    font-weight: bold;
    font-size: 60px;
    background-color: orange;
    color: white;
    text-align: center;
}

.index-link {
    background-color: aqua;
    text-align: left;
    font-size: 40px;
    color:burlywood
}

li {
    font-family: 'Courier New', Courier, monospace;
}

.name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color:antiquewhite
}

.description {
    font-family: "Brush Script MT", Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.description, p {
    font-family: papyrus, arial, sans-serif;
}

.ingredients-header {
    font-weight: 900;
    font-size: 50px;
    background-color: fuchsia;
    color:floralwhite
}

ul li {
    list-style-type: none;
    color:blue
}